.about_title{
    font-family: 'Gmarket Sans TTF';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;    
    color: #FFFFFF;

    text-shadow: 1px 1px 0.2px rgba(0, 0, 0, 0.25);
    
}