.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10px;
  z-index: 1;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: #1b2f4e;
}

.nav__logo {
  position: fixed;
  display: flex;
  object-fit: contain;
  /* 임시 */
  color: white;
}

.nav__navy {
  background-color: #1b2f4e;
}

.nav__menu {
  position: fixed;
  display: flex;
  object-fit: contain;
  align-items: right;
  color: white;
  /* 왜 우측정렬 안먹는거야.. */
}
