/* font-family: 'GmarketSansMedium'; */
hr {
  width: 100%;
  border-color: lightgrey;
  margin: 0 0 0 0px;
  border-width: 1px 0 0 0;
}

.text {
  margin: 10;
  padding: 20px 0 10px 0;
  font-family: 'GmarketSansLight';
  font-size: 12px;
}

.footer {
  padding: 10px 0 10px 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}
.footer__Insta {
  width: 30px;
  padding: 10px;
}
.footer__Email {
  width: 30px;
  padding: 10px;
}

.footer__Github {
  width: 30px;
  padding: 10px;
}

.footer_div{
  
}