.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0 20px 20px;
    scroll-behavior: smooth;
    }

.cardCss{
    margin: 30px;
    display: in;
    box-shadow: 1px 1px 10px px rgb(255, 255, 255);
    
}